/* 登录页面样式 */

body {
    background: azure;
}

.adminlogin {
    position: relative;
    margin: 100px auto;
    width: 500px;
    height: 300px;
    border: 1px solid #CCC;
    text-align: center;
    #btn {
        display: block;
        position: absolute;
        background: burlywood;
        right: 140px;
        width: 60px;
        color: white;
    }
    h4 {
        color: pink;
    }
    a {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}