<div class="gao-head">
    <div class="left">
        <a href="/" class="logo">XXX后台管理系统</a>
    </div>
    <div class="right">
        <p>欢迎你admin管理员</p>
        <button class="btn btn-primary back">退出</button>
    </div>
</div>