<div class="gao-head">
    <div class="left">
        <a href="/" class="logo">XXX后台管理系统</a>
    </div>
    <div class="right">
        <p>欢迎你<span class="span">xxx</span></p>
        <form action="/head/quit">
            <input type="submit" value="退出" id="btn" class="btn btn-primary" />
        </form>
    </div>
</div>
<script>
    var cookieVal = document.cookie;
    var cookieArr = cookieVal.split(";");
    var newArr = cookieArr[1].split("=")[1];
    // console.log(newArr);
    var span = document.getElementsByClassName('span')[0];
    span.innerHTML = newArr;
</script>